[package]
name = "lsh-bin"
version = "0.0.0"

edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
anyhow = "*"
argh = "*"
lsh.workspace = true
stdext.workspace = true
